.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
nxf-tmp*
results_test/
*.fastq.gz
*.bam
*.mmi
MetaAMR-cleanup/
samplesheet.csv
ss.csv
slurm
results_full_run/databases/resfinder/resfinder_db/
datatransfer/
proj-test/
results_targeted_PA/
metaamr.slurm
